<!-- menu -->
<div class="odd-menu-item top"><a class="item top" href="#">WE ARE</a></div>
<div class="odd-menu-item right"><a class="item right" href="#">WORKS</a></div>
<div class="odd-menu-item bottom"><a class="item bottom" href="#">CONTACT</a></div>
<div class="odd-menu-item left"><a class="item left" href="#">THINKING</a></div>

<!-- main content wrapper -->
<div class="odd-content-wrapper">
  <div class="odd-content-inner">
    <div class="site-logo-wrapper">
      <%= image_tag 'site-logo.png', class: 'logo' %>
    </div>
  </div>
</div>
