<!-- menu -->
<div class="odd-menu-item top"><a data-behavior="to-members" class="item top" href="#">WE ARE</a></div>
<div class="odd-menu-item right"><a data-behavior="to-works" class="item right" href="#">WORKS</a></div>
<div class="odd-menu-item bottom"><a data-behavior="to-contact" class="item bottom" href="#">CONTACT</a></div>
<div class="odd-menu-item left"><a data-behavior="to-social" class="item left" href="#">THINKING</a></div>

<div class="close-btn" data-behavior="close-btn"></div>

<!-- main content wrapper -->
<div class="odd-content-wrapper">
  <div class="odd-content-inner">

    <%#
      canvas, 這個 div 把所有畫面包起來，利用控制 canvas 的絕對位置來達到在五個獨立
      頁面中滑動切換的目的。（例如：`top: 100%` 會往下滑）
    %>
    <div class="pages-canvas" data-behavior="canvas">

      <!-- landing page -->
      <section class="landing-page">
        <div class="logo-wrapper">
          <%= image_tag 'site-logo.png', class: 'logo' %>
        </div>
      </section>

      <!-- members page -->
      <section class="members-page">
      </section>

      <!-- works page -->
      <section class="works-page">
      </section>

      <!-- contact page -->
      <section class="contact-page">

        <div class="contact-info-wrapper">
          <h2 class="title">CONTACT US</h2>
          <ul>
            <li class="info-item">
              <span class="info-title-col">
                Cell
              </span>
              <span class="content-col">
                +886-910-273-948
              </span>
            </li>
            <li class="info-item">
              <span class="info-title-col">
                Email
              </span>
              <span class="content-col">
                service@oddesign.expert
              </span>
            </li>
            <li class="info-item">
              <span class="info-title-col">
                Time
              </span>
              <span class="content-col">
                Mon-Fri 10:00-20:00
              </span>
            </li>
            <li class="info-item">
              <span class="info-title-col">
                Addr
              </span>
              <span class="content-col">
                台北市松山區八德路三段158巷20弄12-1號
              </span>
            </li>
          </ul>
        </div>

        <div class="contact-form-wrapper">
          <h2 class="title">CONTACT FORM</h2>
          <form action="#">
            <div class="input-field">
              <input id="email" type="email" class="validate">
              <label for="email">E-mail</label>
            </div>
            <div class="input-field">
              <input id="name" type="text" class="validate">
              <label for="name">Name</label>
            </div>
            <div class="input-field col s12">
              <select>
                <option value="" disabled selected>選擇專案類型</option>
                <option value="1">網站系統開發 Website Development</option>
                <option value="2">網站視覺規劃 Website Visual Design</option>
                <option value="3">整體視覺設計 Identity Design</option>
                <option value="4">行銷策略 Marketing Strategies</option>
              </select>
              <label>Project Type</label>
            </div>
            <div class="input-field col s12">
              <select>
                <option value="" disabled selected>選擇預算範圍</option>
                <option value="1">NT 200,000 ↑</option>
                <option value="2">NT 300,000</option>
                <option value="3">NT 600,000</option>
                <option value="4">NT 1,000,000</option>
              </select>
              <label>Budget Range</label>
            </div>
            <div class="input-field col s12">
              <textarea id="textarea1" class="materialize-textarea"></textarea>
              <label for="textarea1">Description</label>
            </div>
            <button type='submit' class="submit-btn waves-effect waves-dark btn">SUBMIT</button>
          </form>
        </div>
      </section>

      <!-- social page -->
      <section class="social-page">
      </section>
    </div>

  </div>
</div>

<%= content_for :handwrite_js do %>
  <script>
    $(document).ready(new OddDesign.CanvasController);
    $(document).ready(function() {
      $('select').material_select();
    });
  </script>
<% end %>
