<!-- menu -->
<div class="odd-menu-item top"><a class="item" href="#">WE ARE</a></div>
<div class="odd-menu-item right"><a class="item" href="#">WORKS</a></div>
<div class="odd-menu-item bottom"><a class="item" href="#">CONTACT</a></div>
<div class="odd-menu-item left"><a class="item" href="#">THINKING</a></div>

<!-- main content wrapper -->
<div class="odd-content-wrapper">
  <div class="odd-content-inner">
    1
  </div>
</div>
